# https://github.com/takluyver/pynsist
# To make use of this file, you will need to follow the steps at
# https://pynsist.readthedocs.io/en/latest/index.html, including installing NSIS on your computer.

[Application]
name=RLBotGUI
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
target=$INSTDIR\install-and-run.bat
icon=rlbot.ico
# It's nice to show the console because bot output / diagnostic info / quit instructions show up there.
console=true

[Python]
version=3.7.1

[Include]
# I came up with these lists by uninstalling all my pip stuff then running pip freeze.
# See https://stackoverflow.com/a/40566052 for details.
# I tried putting everything into pypi_wheels first, then moved the ones that didn't work
# down to packages.


# Packages from PyPI that the application requires, one per line. These must have wheels on PyPI
pypi_wheels = pip==18.1
     bottle==0.12.16
     setuptools==40.6.2
     whichcraft==0.5.2

# Packages which don't publish wheels. If you installed the requirements.txt, you'll have these locally and it'll work.
packages = eel
    future
    bottle_websocket
    rlbot_gui


# Other files and folders that should be installed
files = gui/
    upgrade.py
    run.py
    install-and-run.bat
