@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,500,500i');

:root {
  --main-color: #fff;
  --hover: rgba(200,200,200,1);
  --hover-controls: rgba(255,255,255,0.1);
  --green-color: #3b7538;
  --orange-color: #f26522;
  --blue-color: #0054a6;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--main-color);
  margin: 0;
  background-image: radial-gradient(transparent, var(--main-color) 90%),url(imgs/arenas/Core_707.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a.btnWin {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  text-align: center;
  border-radius: 1.8rem;
  color: #fff;
  margin-top: 0.5rem;
  background-color: transparent;
}

a.btnWin:hover {
  background-color: var(--hover-controls);
}

a.btnWin i {
  padding-top: 5%;
}

.control-bar {
  background-color: var(--green-color);
  height: 2.5rem;
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.6));
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.6));
}

.title {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 5rem;
}

.window-controls {
  float: right;
}

.team-list {
  margin: 3rem;
  margin-bottom: 1rem;
  height: 24rem;
  width: 20rem;
  display:inline-block;
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.6));
}

.team-add {
  display: block;
  background-color: var(--main-color);
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  border-radius: 3.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.3));
}

.team-add i {
  margin-top: 30%;
  background-color: transparent;
}

.team-add:hover {
  background-color: var(--hover);
}

.team-entries {
  padding: 5px;
}

.team-entry {
  display:flex;
  align-items:center;
  background-color: var(--main-color);
  height: 1.8rem;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
  margin: 5px;
}

.team-entry a {
  position: absolute;
  right: 0.5rem;
  top: 0.20rem;
}

.team-entry img {
  height: 1.8rem;
  width: 1.8rem;
  margin: 5px;
}

.team-entry i {
  background-color: transparent;
}

.org {
  color: var(--orange-color);
  background-color: var(--orange-color);
}

.blu {
  color: var(--blue-color);
  background-color: var(--blue-color);
}

.torange {
  filter: brightness(0%) invert(50%) sepia(25%) saturate(7482%) hue-rotate(350deg) brightness(102%) contrast(90%);
}

.tblue {
  filter: brightness(0%) invert(17%) sepia(78%) saturate(3372%) hue-rotate(198deg) brightness(96%) contrast(101%);
}

.controls {
  display: block;
  margin: 0 3rem;
}

.match-settings {
  display: inline-block;
  width: 70%;
}

.run {
  display: inline-block;
  width: 29%
}

.run a {
  display:inline-block;
  float:right;
  height: 2rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 10px;
  padding-top: 0.8rem;
  text-align:center;
  color: var(--main-color);
  background-color: var(--green-color);
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.6));
}


