# Everything in this file will be installed once, the *first* time the GUI runs.

-r rlbot-requirements.txt

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip

# Packages used by the GUI
gevent
gevent-websocket
PyQt5

# Packages commonly used by bots
numpy
selenium
