.appearance-editor-table .md-field {
  margin: 4px 0 -9px;
}

.appearance-editor-table {
  width: 100%;
  border-spacing: 10px;
}

.appearance-editor-table td {
  width: 50%;
}

.appearance-editor-table .md-field {
  padding-left: 15px;
  border-radius: 3px 3px 0 0;
}

.paint-color.black {
  background-color: #111;
  color: #dddddd;
  border-color: #dddddd;
}
.paint-color.burntsienna {
  background-color: #ffc2b1;
  color: #882104;
  border-color: #882104;
}
.paint-color.cobalt {
  background-color: #ccd3ff;
  color: #3f51b5;
  border-color: #3f51b5;
}
.paint-color.crimson {
  background-color: #ffcece;
  color: #d50000;
  border-color: #d50000;
}
.paint-color.forestgreen {
  background-color: #aae7ac;
  color: #199e1e;
  border-color: #199e1e;
}
.paint-color.grey {
  background-color: #cacaca;
  color: #3d3d3d;
  border-color: #3d3d3d;
}
.paint-color.lime {
  background-color: #f3ffd2;
  color: #5ebd00;
  border-color: #5ebd00;
}
.paint-color.orange {
  background-color: #fff3d3;
  color: #ff9d00;
  border-color: #ff9d00;
}
.paint-color.pink {
  background-color: #ffcdde;
  color: #ff4081;
  border-color: #ff4081;
}
.paint-color.purple {
  background-color: #e2b4eb;
  color: #9c27b0;
  border-color: #9c27b0;
}
.paint-color.saffron {
  background-color: #fffce2;
  color: #ffd000;
  border-color: #ffd000;
}
.paint-color.skyblue {
  background-color: #c4ecff;
  color: #03a9f4;
  border-color: #03a9f4;
}
.paint-color.titaniumwhite {
  background-color: #fff;
  color: #929292;
  border-color: #929292;
}

.colorpicker-menu {
  max-width: 1000px;
}

.colorpicker-menu .md-list {
  padding: 5px;
}

.colorpicker-menu td {
  padding: 0;
}

.colorpicker-color {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.colorpicker-color:hover {
  border: 2px solid rgba(255, 255, 255, 0.74);
}

.selected-color {
  border: 2px dashed rgba(255, 255, 255, 0.897);
}

.color-indicator {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

#appearance-editor-dialog .form-group {
  margin-bottom: 5px;
}

#appearance-editor-dialog .modal-body {
  margin-bottom: 5px;
  padding-top: 0;
}
