@media screen and (orientation: landscape) {
	html {
		overflow-y: hidden;
	}
	aside {
		width: 20vw;
		float: left;
		display: grid;
		grid-template-rows: max-content auto auto;
	}
	aside > div {
		display: initial;
	}
	aside, #main{
		height: calc(100vh - 64px);
	}
	#main {
		float: right;
		overflow-y: auto;
		width: 80vw;
	}
	.botinfo{
		width: 100%;
	}

	#main > .md-card{
		display: inline-block;
		width: 32%;
	}
}

aside{
	background-color: #00000054;
}

.md-title > small {
    font-size: small;
}

.md-layout-item > p > .gamemode:not(:last-of-type)::after, .md-layout-item > p > .category:not(:last-of-type)::after{
	content: ', ';
}

.md-layout{
	width: 100%;
}

.md-card{
	display: grid;
	overflow-y: hidden;
}

.md-card-content{
	height: 100%;
	overflow-y: auto;
}

.botCardInfo{
	display: flex;
	margin-left: 0px !important;
}

.managerInfo{
	height: 3em;
}

#main > div > .md-card-content{
	padding-bottom: 0
}

.botName{
	display: inline;
}

.botCardButton{
	float: right;
	margin-right: 0 !important;
}

#app{
	background: lightblue !important
}