@media screen and (orientation: landscape) {
	html {
		overflow-y: hidden;
	}
	aside {
		width: 20vw;
		float: left;
		height: calc(100vh - 64px);
		display: grid;
	}
	aside > div {
		display: initial;
	}
	#main {
		width: 80vw;
		float: right;
	}
}
