<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">

	<link rel="icon" type="image/png" sizes="192x192" href="imgs/rlbot_logo.png">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="css/vue-material.min.css"/>
	<link rel="stylesheet" href="css/vue-fonts.css"/>
	<link rel="stylesheet" href="css/black-green-light.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/botmanager.css"/>

	<title>Hub</title>

</head>
<body id="rlbotgui">
	<div id="app">

		<md-toolbar class="md-primary">
			<div class="md-toolbar-row">
				<img class="logo" src="imgs/rlbot_logo.png">
				<a href="main.html"><h3 class="md-title" style="flex: 1">RLBot</h3></a> &nbsp; &nbsp;
				<a href="botmanager.html" class="menuActive"><h3 class="md-title" style="flex: 1">Hub (beta)</h3></a>
				<div class="md-toolbar-section-end">
					<md-progress-spinner v-if="showProgressSpinner" class="md-accent" :md-diameter="30" md-mode="indeterminate"></md-progress-spinner>
					<md-menu md-direction="bottom-start">
						<md-button md-menu-trigger class="md-icon-button">
							<md-icon>more_vert</md-icon>
						</md-button>

						<md-menu-content>
							<md-menu-item @click="showPackageInstaller = true;">
								Install missing python package
							</md-menu-item>
							<md-menu-item @click="showNewRepoDialog = true">
								Add custom repo
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
		</md-toolbar>

		<aside>
			<md-card class="settings-card">
				<md-card-header>
					<div class="md-title">Filters</div>
				</md-card-header>

                <md-card-content>

                	<label for="searchBotName">search</label>
                	<input id="searchBotName" onkeyup="reloadCards()" type="text" name="" class="" placeholder="search on bot name"><br>

                	<hr>

					<div class="center-flex">

						<div class="md-layout">
							<div class="md-layout-item">
								<label for="gamemodes">Gamemode</label>
								<div id="gamemodes" class="list">
									<p><input onclick="reloadCards()" type="checkbox" name="gamemode" value="soccar">soccar</p>
									<p><input onclick="reloadCards()" type="checkbox" name="gamemode" value="Hoops">Hoops</p>
									<p><input onclick="reloadCards()" type="checkbox" name="gamemode" value="Dropshot">Dropshot</p>
									<p><input onclick="reloadCards()" type="checkbox" name="gamemode" value="Rumble">Rumble</p>
									<p><input onclick="reloadCards()" type="checkbox" name="gamemode" value="Snowday">Snowday</p>
								</div>
							</div>
							<div class="md-layout-item">
								<label for="gamemodes">Repo</label>
								<div id="gamemodes" class="list">
									<p><input onclick="reloadCards()" type="radio" name="source" value="all" checked>all</p>
									<p><input onclick="reloadCards()" type="radio" name="source" value="Trusted">Trusted</p>
									<p><input onclick="reloadCards()" type="radio" name="source" value="UnverifiedCommunity">UnverifiedCommunity</p>
									<p><input onclick="reloadCards()" type="radio" name="source" value="localRepo">localRepo</p>
								</div>
							</div>
						</div>
					</div>

                </md-card-content>
			</md-card>

			<md-card class="settings-card">
				<md-card-header>
					<div class="md-title">Beta notice</div>
				</md-card-header>

                <md-card-content>

					<div class="center-flex">

						<div class="md-layout">
							<p>The hub is an beta preview. bugs can occur more often then expected.</p>
						</div>
					</div>

                </md-card-content>
			</md-card>

			<md-card class="settings-card">
				<md-card-header>
					<div class="md-title">News</div>
				</md-card-header>

                <md-card-content>

					<div class="center-flex">

						<table>
							<tr v-for="newsItem in newsItems">
								<td>{{newsItem.date}}</td>
								<td>{{newsItem.content}}</td>
							</tr>
						</table>
					</div>

                </md-card-content>
			</md-card>
		</aside>

		<div id="main">

			<div v-for="repo in repos" class="md-card settings-card md-theme-default" :key="repo.ID" v-if="repo.display">
				<div class="md-card-header">
					<div class="md-title">{{repo.name}}
						<small v-if="!repo.is_installed || repo.is_installed && repo.localVersion === repo.onlineVersion" >Version {{repo.onlineVersion}}</small>
						<small v-if="repo.is_installed && repo.localVersion !== repo.onlineVersion" >Version {{repo.localVersion}}, an update to version Version {{repo.onlineVersion}} is available</small>
					</div>
				</div>
				<div class="md-card-content">
					<div class="center-flex">
						<div class="md-layout md-gutter">
							<div class="md-layout-item botinfo-short"><label for="gamemodes-0"><b>Gamemode</b></label>
								<p id="gamemodes-0" class="managerInfo">
									<span class="gamemode" v-for="mode in repo.gamemodes">{{mode.name}} </span>
								</p>
							</div>
							<div class="md-layout-item botinfo-short"><label for="type-0"><b>Categories</b></label>
								<p id="type-0" class="managerInfo">
									<span class="category" v-for="category in repo.categories">{{category.name}} </span>
								</p>
							</div>
							<div class="md-layout-item botinfo-long"><label for="type-0"><b>Description</b></label>
								<p id="type-0" class="managerInfo">
									<span>{{repo.description}} </span>
								</p>
							</div>
							<div class="md-layout-item botinfo-short"><label for="type-0"><b>Source</b></label>
								<p id="type-0" class="managerInfo">
									<span>{{repo.repoName}} </span>
								</p>
							</div>
						</div>
						<span style="flex-grow: 1;"></span>
						<button type="button" class="md-button md-primary md-raised md-theme-default">
							<div class="md-ripple">
								<div v-if="!repo.is_installed" class="md-button-content"
									 @click="downloadBot(repo)">
									Download
								</div>
								<div v-if="repo.is_installed && repo.localVersion === repo.onlineVersion"
									 class="md-button-content"
									 @click="deleteBot(repo)">
									Delete
								</div>
								<div v-if="repo.is_installed && repo.localVersion !== repo.onlineVersion"
									 class="md-button-content"
									 @click="updateBot(repo)">
									Update
								</div>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		<md-dialog :md-active.sync="showNewRepoDialog">
			<md-dialog-title>Add bot to local repo</md-dialog-title>

			<md-dialog-content>
				<md-field>
					<label>Repo url</label>
					<md-input v-model="newRepoUrl"></md-input>
				</md-field>
				<md-field>
					<label>Folder Name</label>
					<md-input v-model="newRepoFolder"></md-input>
				</md-field>
			</md-dialog-content>

			<md-dialog-actions>
				<md-button class="md-raised md-primary" @click="addBotToLocalRepofile(newRepoUrl, newRepoFolder)">Begin</md-button>
				<md-button @click="showNewRepoDialog = false">Close</md-button>
			</md-dialog-actions>
		</md-dialog>
	</div>

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vue-material.min.js"></script>
    <script type="text/javascript" src="js/Sortable.min.js"></script>
    <script type="text/javascript" src="js/vuedraggable.min.js"></script>
	<script type="text/javascript" src="js/botmanager.js"></script>
</body>
</html>
